<header class="navbar navbar-expand-lg  navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.gymshark.com/images/branding/gs-icon-black.svg" alt="" width="40" height="34">
    </a>
    <ul class="nav justify-content-center mx-auto" style="width: 400px;">
      <li class="nav-item justify-content-center">
        <a class="nav-link active text-black fw-bold" aria-current="page" href="#">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black fw-bold" href="#">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black fw-bold" href="#">Accessories</a>
      </li>
    </ul>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
      <input type="search" class="form-control" placeholder="Try a product or color" aria-label="Search">
    </form>

    <svg class="bi mx-3" width="18" height="18" color="black">
      <use xlink:href="./assets/bootstrap-icons.svg#suit-heart"/>
    </svg>
    <svg routerLink= 'log-in' class="bi mx-3 active" width="20" height="20" color="black">
      <use  xlink:href="./assets/bootstrap-icons.svg#person"/>
    </svg>
    <svg class="bi mx-3" width="18" height="18" color="black">
      <use xlink:href="./assets/bootstrap-icons.svg#bag"/>
    </svg>
  </div>
</header>

