<ul class="nav fs-7 justify-content-end navbar-light bg-light ">
  <li class="nav-item">

  <a
  class="nav-link text-secondary fw-light " href="#"><svg class="bi mx-3" width="20" height="20" color="black">
    <use xlink:href="./assets/bootstrap-icons.svg#person"/>
  </svg> Account </a>
  </li>
<div class="vr"></div>
  <li class="nav-item">
    <a class="nav-link text-secondary fs-6" href="#">Blog</a>
  </li>
  <div class="vr"></div>
  <li class="nav-item">
    <a class="nav-link text-secondary fs-6" href="#">Email Sign-Up</a>
  </li>
  <div class="vr"></div>
  <li class="nav-item">
    <a class="nav-link text-secondary fs-6" href="#">Help</a>
  </li>
  <div class="vr"></div>

    <a class="nav-link text-secondary fs-6" href="#">Accessibility Statement</a>

  <div class="vr"></div>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-secondary fw-light fs-6" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">United States
      <img src="https://cdn.gymshark.com/web/assets/_next/static/media/us.bc5e2f3b.svg" alt="Avatar">
  </a>
  </li>
</ul>

