<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3 fs-9">
        <h5>HELP</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Delivery Information</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Returns Policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Make A Return</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Orders</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Submit a Fake</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>MY ACCOUNT</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Login</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Register</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>PAGES</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gymshark Central</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Student Discount</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Veterans Discount</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Acessibility Statement</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Factory List</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sustainability</a></li>
        </ul>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-3">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>

      </div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top fs-6">
      <p>© 2023 | Gymshark Limited | All Rights Reserved. | United We Sweat </p>
      <div class = "justify-content-between ms-3 fs-6">
        <p>Terms & Conditions  Terms of Use  Privacy Notice  Cookie Policy  Modern Slavery </p>

      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
      </div>
    </div>

</div>
