<div class="product-block_header__tF2_4">
  <span>

</span>
  <h2>SALE</h2>
  <a class ="link-dark justify-content-end" href="https://us.shop.gymshark.com/collections/new-releases/womens">view all</a></div>

<div class="row row-cols-1 row-cols-md-4 g-4 column-gap-02">
  <div class="col">
    <div class="card h-60 border-0 gap-4">
      <img src="https://cdn.shopify.com/s/files/1/0156/6146/products/LonglineSportsBraNavy-B4A9L-UBCY208_750x.jpg?v=1677600998" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-6 fw-normal">{{title}}</h5>
        <p class="card-text fs-7 fw-light">Medium Support.</p>
        <p class="card-text fs-7 fw-lighter">Navy</p>
        <p class="card-text fs-7 fw-light">$34.40</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-60 border-0 gap-4">
      <img src="https://cdn.shopify.com/s/files/1/0156/6146/products/AdaptAnimal_2_SeamlessLeggingsENG-L-A0033Black-CoinGreyB3A6B-BBQB-0193.98_d5c4ac56-4352-4ec7-8cc2-63ba83fb8832_750x.jpg?v=1678719556" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-6 fw-normal">Adapt Animal Seamless Leggings</h5>
        <p class="card-text fs-7 fw-light">Wild | Black.</p>
        <p class="card-text fs-7 fw-lighter">$28.80</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-60 border-0 gap-4">
      <img src="https://cdn.shopify.com/s/files/1/0156/6146/products/LegacyHenleyTopIcebergBlue-A3A8N-UBZM-0958.64_34d6f8a7-c7cd-4623-91a3-94284ef2dd4b_750x.jpg?v=1679945740" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-6 fw-normal">Legacy Henley Top</h5>
        <p class="card-text fs-7 fw-light">Slim Fit</p>
        <p class="card-text fs-7 fw-lighter">Iceberg Blue</p>
        <p class="card-text fs-7 fw-light">$28.80</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-60 border-0 gap-4">
      <img src="https://cdn.shopify.com/s/files/1/0156/6146/products/CriticalReactSlimPantBlackA2A7W-BBBB5_750x.jpg?v=1662997968" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title fs-6 fw-normal">React Joggers</h5>
        <p class="card-text fs-7 fw-light">Slim Fit</p>
        <p class="card-text fs-7 fw-lighter">Black</p>
        <p class="card-text fs-7 fw-light">$36.80</p>
      </div>
    </div>
  </div>
</div>
