<div class="card bg-dark text-white border-0">
  <img class="card-img" src="https://images.ctfassets.net/wl6q2in9o7k3/lmMxx8hnkMgU4l6dHi3kF/25736561d2f51f98ee49bf2fc144d01a/GY83213_SCE-003_INTL_Web_Banner_Desktop_3800x1700px_Dual__1_.jpg?w=3840&q=90" alt="Card image">

  <div class="card-img-overlay">
    <div class="c position-absolute bottom-0 start-50 translate-middle-x ">
    <p class="card-text">Discount applied in checkout, no code needed!
      </p>
      <p class="card-text">100+ newly added styles right now
      </p>
      
    <button type="button" class="btn btn-dark justify-content-center"> Women's</button> <button type="button" class="btn btn-secondary justify-content-center">Men</button>
  </div>
  </div>
</div>
