<div class="card bg-dark text-white border-0">
  <img class="card-img" src="https://images.ctfassets.net/wl6q2in9o7k3/2QSkQdiW9biFe4XyWvF3mt/0ca236a26c86eeee5176fc283ac2c9b4/Web_Banner_Desktop-min.png?w=3840&q=90" alt="Card image">

  <div class="card-img-overlay">
    <div class="c position-absolute top-50 start-0 translate-middle-y ">
    <p class="card-text fw-bold fs-1">25% OFF SUMMER ESSENTIAL BUNDLES
      </p>
      <p class="card-text">Yes pls. Buy two or more select summer items from the link below and use the code BUNDLE25 at checkout to get your discount
      </p>

    <button type="button" class="btn btn-light justify-content-center"> SHOP WOMENS</button>
  </div>
  </div>
</div>

<div class="card bg-dark text-white border-0">
  <img class="card-img" src="https://images.ctfassets.net/wl6q2in9o7k3/4fXG2UDtTW42nDwun65JXQ/e3911eb8662abf8f11988fe584448575/GY80961_315-002_Headless_Web_Banner_Desktop_3840x1550px_Dual.jpg?w=3840&q=90" alt="Card image">

  <div class="card-img-overlay">
    <div class="position-absolute top-50 start-0 translate-middle-y ">
    <p class="card-text fw-bold fs-1">FULL FOCUS. PURE PERFORMANCE.
      </p>
      <p class="card-text">Go 9 for 9 at your next meet with our very first IPF approved singlet. LFG.
      </p>

    <button type="button" class="btn btn-light justify-content-center"> SHOP NEW RELEASES</button>
    <button type="button" class="btn btn-secondary justify-content-center">SHOP 315</button>
  </div>
  </div>
</div>

<div class="card bg-dark text-white border-0">
  <img class="card-img" src="https://images.ctfassets.net/wl6q2in9o7k3/2mfASRYkQuzQkxjsEQLXel/4d7f3fabd580f44f124b8c51858eab3e/GY79415_SLC-005_INTL_Web_Banner_Desktop_3800x1700px_Dual.jpg?w=3840&q=90" alt="Card image">

  <div class="card-img-overlay">
    <div class="position-absolute top-50 start-0 translate-middle-y ">
    <p class="card-text fw-bold fs-1">YOU’VE PUT IN THE WORK.</p>
      <p class="card-text fw-bold fs-1"> NOW SHOW OFF THE RESULTS.</p>
      <p class="card-text-2">Flex what you’ve built with physique-enhancing cuts,

      </p>
      <p class="card-text-2"> compressive fits and comfortable lifting essentials.</p>
    <button type="button" class="btn btn-dark justify-content-center "> SHOP WOMEN</button>
    <button type="button" class="btn btn-secondary justify-content-center ">SHOP MEN</button>
  </div>
  </div>
</div>
